<!DOCTYPE html>
<html lang="it">

<head>
  <%- include('../partials/head'); %>
</head>

<body>

  <header>
    <%- include('../partials/header'); %>
  </header>

  <main class="container my-2">
    <h1 class="text-center my-2">UninaStream</h1>
    <div class="col-lg-9 col-12 mx-auto">
      <p><strong>UninaStream</strong> è uno streaming service che permette agli <strong>utenti abbonati</strong> di accedere ad un catalogo di video e <strong>visionare i video</strong>.</p>
      <p>Tale catalogo viene aggiornato da un <strong>gestore video</strong> tramite la sua interfaccia.</p>
      <p>Gli <strong>utenti</strong> possono inoltre <strong>acquistare video</strong> specifici per averli per sempre nel loro catalogo personale, indipendentemente dalla loro  sottoscrizione. In questo modo, gli utenti possono costruire la loro collezione personale di video, che resteranno accessibili anche se decidono di annullare la loro sottoscrizione.</p>
    </div>
  </main>

  <footer>
    <%- include('../partials/footer'); %>
  </footer>

</body>

</html>
